$label-padding: 0.5rem;

.kirimpesan {
    min-height: 30rem;
}

.foto-wisudawan {
    max-height: 15rem;
    max-width: 15rem;
}

.nama-wisudawan {
    background: red;
    height: 2.5rem;
    width: 75%;
}

.sender {
    min-height: 25rem;
    background: blue;
    width: 75%;
    border-radius: 0.8rem;
}

.sender-name-label {
    padding: $label-padding;
    background: green;
    border-radius: 1rem 0rem 0rem 1rem ;
}

.sender-name-input-background {
    padding: $label-padding;
    background: aquamarine;
    border-radius: 0rem 1rem 1rem 0rem ;
}

.sender-name-input {
    background: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-align: left;
}

.message-content-label {
    padding: $label-padding;
    background: green;
    border-radius: 1rem 0rem 0rem 0rem ;
}

.message-content-toolbar {
    padding: $label-padding;
    background: aquamarine;
    border-radius: 0rem 1rem 0rem 0rem ;
}

.message-content-content {
    background: white;
    border-radius: 0rem 0rem 1rem 1rem ;
    text-align: justify;
    min-height: 16rem;
}

.message-content {
    min-height: 12rem;
    border: none;
    outline: none;
    resize: none;
    text-align: left;
}