@import '../../App.scss';

.kirimpesan {
    background-image: url('https://wisjul21.sgp1.cdn.digitaloceanspaces.com/assets/images/background/main.jpg');
    background-size: cover;
    background-position: center;
}

.jeduar {
    height: 15rem;

    position: absolute;
    top: 15px;
    right: 0;
}

.kumo {
    
    position: absolute;
    
    @include respond-to('large') {
        height: 12rem;
        left: 10vw;
        bottom: 10vh;
    }

    @include respond-to('desktop') {
        height: 10rem;
        left: 6vw;
        bottom: 13vh;
    }

    @include respond-to('tablet') {
        height: 8rem;
        left: -10vw;
        bottom: -28vh;
    }

    @include respond-to('phone') {
        height: 8rem;
        bottom: -47vh;
        left: -12vw;
    }
}

.kirimpesan-container {
    overflow: hidden;
}

.foto-wisudawan {
    max-height: 15rem;
    max-width: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.foto-wisudawan-container {
    display: flex;
    margin: 0;
    margin-top: 1rem;
    
    @include respond-to('desktop', 'large') {
        position: absolute;
        float: left;
        margin-left: 2rem;
        top: 8rem;
    }

}

.nama-wisudawan {
    overflow: hidden;
    background: rgba($color: $blue-darker, $alpha: 0.7);
    border-radius: 20px;
    height: 2.5rem;
    
    width: 100%;
    
    @include respond-to('desktop', 'large') {
        width: 75%;
    }
}


.message {
    float: right;
    background: rgba($color: $blue-darker, $alpha: 0.7);
    border-radius: 1rem;
    margin-top: 2rem;
    
    width: 100%;
    @include respond-to('desktop', 'large') {
        width: 75%;
    }
}

.submit-button {
    background-color: $blue-medium !important;
    border: none !important;
    
    &:hover {
        background-color: $blue-lighter !important;
        transition: 0.3s;
    }
}


.sender-name-label {
    color: $yellow-darker;
    margin-left: 3px;
    font-weight: bold;
    border-radius: 1rem 0rem 0rem 1rem ;
}


.kirimpesan-line {
    height: 3px;
    background-color: $yellow-darker;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.sender-name-input {
    background: none;
    outline: none;
    border: none;
    text-align: left;
}

.message-content-label {
    color: $yellow-darker;
    margin-left: 3px;
    font-weight: bold;
    border-radius: 1rem 0rem 0rem 0rem ;
}

.message-content-content {
    border-radius: 0rem 0rem 1rem 1rem ;
    text-align: justify;
}

.message-content {
    background: none;
    border: none;
    outline: none;
    resize: none;
    text-align: justify;
    
    @include respond-to('desktop', 'large') {
        min-height: 7rem;
    }
    
    @include respond-to('tablet') {
        min-height: 8rem;
    }
    
    @include respond-to('phone') {
        min-height: 15rem;
        min-width: 15rem;
    }
}