.footer {
  min-width: 100%;
  margin-top: auto;
  background: fixed red;
  height: 10rem;
  overflow: auto;
}

.social-media-container {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: blue;
  margin: 0.2rem;
}

.social-media {
  margin-top: auto;
  margin-bottom: auto;
}