@import '../../App.scss';

.footer {
  width: 100%;
  margin-top: auto;
  background: fixed $red-darker;
  min-height: 13rem;
}

.copyright {
  margin-top: 2rem;
}

.social-media-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: $red-medium;
  margin: 0.2rem;

  @include respond-to('desktop', 'large') {
    .social-media {
      svg {
        width: 1px;
        height: 1px;
      }
    }

    width: 3rem;
    height: 3rem;
  }
}

.social-media-sec {
  margin-top: 4vh;
  margin-right: 4vw;
  display: flex;
  flex-direction: column;

  @include respond-to('desktop', 'large') {
    margin-top: 8vh;
    margin-right: 20px;
    flex-direction: row;
  }
}

.social-media-container:hover {
  transition: 0.3s;
  transform: translateY(-0.2rem);
}

.instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  transition: 0.3s;
}

.twitter:hover {
  background: white;
  path {
    fill: #1da1f2;
  }
  transition: 0.3s;
}

.spotify:hover {
  background: black;
  path {
    fill: #1ecf5f
  }
  transition: 0.3s;
}

.social-media {
  margin: auto;
}