@import '../../App.scss';

.brand {
    text-decoration: none;
}

#brand-logo {
    height: 4rem;
    width: 4rem;
    float: left;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#brand-text {
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: -1px;
}

.brand:hover {
    color: white;
    transition: 0.3s;
}


.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.default-color {
    background-color: rgba($red-darker, 1) !important;
}

.navbar {
    width: 100%;
    height: $navbarheight;
    z-index: 999;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    transition: 0.6s;
}

.navbar-nav {
    flex-direction: row !important;
}

$drops-top: -15rem;

.nav-item {
    float: left;
    display: block;
    color: $red-lighter !important;
}

.nav-item:hover {
    color: white !important;
    transition: 0.3s;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none !important;
}

.burger-button {
    @extend .nav-item;
    display: none;
    background: none;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
}

.drops {
    width: 100%;
    display: none;
    transition: 0.6s;
}

@include respond-to('phone') {    
    .navbar-nav {
        display: none !important;
    }
    
    .burger-button {
        float: right;
        display: block;
    }
    
    nav.responsive {
        position: relative;
    }
    
    .active {
        color: white !important;
    }
    
    .toggle {
        width: 28px;
        height: 4px;
        background-color: $red-medium;
        cursor: pointer;
        box-shadow: 2px 2px black;
        transition: 0.6s;
        
        &::before, 
        &::after {
            content: '';
            width: 28px;
            height: 4px;
            background-color: $red-medium;
            display: block;
            position: absolute;
            transition: all 0.6s;
            box-shadow: 2px 2px black;
        }
        
        &::before {
            top: 1.5em;
            transform-origin: center;
            transform: rotateZ(0deg);
        }
        
        &::after {
            top: 2.6em;
            transform-origin: center;
            transform: rotateZ(0deg);
        }
    }
    
    
    .toggle-active::before {
        box-shadow: none;
        transform: rotateZ(360 * 3 + 43deg) translateX(5px) translateY(7px);
    }
    .toggle-active::after {
        box-shadow: none;
        transform: rotateZ(-(360 * 3 + 43deg)) translateX(5px) translateY(-7px);
    }
    
    .toggle-active {
        background-color: transparent;
        box-shadow: none;
    }
    
    .toggle-active {
        transition: 0.6s;
    }
    
    .drops {
        flex-direction: column !important;
        align-items: flex-end;
        position: absolute;
        top: $drops-top;
        transition: 0.5s;
        z-index: 998;
        display: flex;
        background-color: rgba($red-darker, 0.7) !important;
    }
    
    .drops-active {
        width: 100%;
        transform: translateY(-($drops-top) + $navbarheight - 0.1rem);
        transition: 0.6s;
    }

    .navbar-active {
        background-color: rgba($red-darker, 1) !important;
        transition: 0.6s;
    }
}