@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

.wisudawan-container {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    @include respond-to('phone', 'tablet') {
        display:flex;
        flex-direction: column;
        padding: 0px;
    }
}

.list-kontribusi {
    text-align: left;
}

.wisudawan {
  background-image: url("https://wisjul21.sgp1.cdn.digitaloceanspaces.com/assets/images/background/main.jpg");
  background-repeat: repeat;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;

}
.unit-wisudawan {
    .unit-logo {
        width: 2.3rem;
        height: auto;
        margin-right: 1rem;
    }
    .unit-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.8rem;
    }
    .unit-list {
        margin-top: 2rem;

    }
    @include respond-to('phone') {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

.data-wisudawan p, .data-wisudawan h1, .data-wisudawan h2, .data-wisudawan h3, .data-wisudawan h4, .data-wisudawan li {
    text-align:left;
}

.foto-wisudawan img {
    width: 16rem;
    height: 16rem;
    @include respond-to('phone', 'tablet') {
        width: 12rem;
        height: 12rem;
    }
}

.wisudawan-left {
    margin-right: 2rem;
    @include respond-to('phone', 'tablet') {
        margin-right: 0rem;
        margin-bottom: 2rem;
        display:flex;
        // flex-direction: row;
        // aku ubah jadi ke bnawah dulu - Josep
        flex-direction: column;
        align-items: center;
    }
}

