@import '../../styles/base.scss';
@import '../../styles/colorpalette.scss';

.event-page {
  background-image: url($bg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .cloud {
    animation: none;
  }
}