@import "../../App.scss";
@import "../../styles/responsive.scss";

.page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  @include respond-to("phone", "tablet") {
    flex-direction: column;
    justify-content: start;
  }

  .congrats {
    position: relative;

    .info-icon {
      position: absolute;
      top: -300%;
      left: 0%;
    }
  }

  .stage1 {
    .stage1-image {
      width: 500px;
      height: auto;
    }

    @include respond-to("phone") {
      .stage1-image {
        margin-top: 1rem;
        width: 300px;
      }
    }

    @include respond-to("tablet") {
      .stage1-image {
        margin-top: 1rem;
        width: 400px;
      }
    }
  }

  .take-picture {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include respond-to("tablet", "phone") {
      gap: 2rem;
    }

    .tombol-keluar {
      text-decoration: none;
      color: inherit;
      background-color: $blue-darker;
      padding: 0.5rem;
      border-radius: 10px;

      .fa-door-open {
        display: none;
      }
    }

    .tombol-keluar:hover {
      background-color: $blue-medium;
      transition: 0.6s;

      .fa-door-closed {
        display: none;
      }
      .fa-door-open {
        display: initial;
      }
    }

    .cam-icon {
      text-align: center;
    }

    @include respond-to("phone") {
      .door-icon {
        position: absolute;
        bottom: -50%;
      }

      h2 {
        margin-top: 1.5rem;
      }
    }

    @include respond-to("tablet") {
      .door-icon {
        position: absolute;
        bottom: -50%;
      }

      h2 {
        margin-top: 1.5rem;
      }
    }
  }

  .camera-circle {
    background-color: $blue-darker;
    padding: 0.9rem 1rem;
    border-radius: 50%;
    transition: 0.6s;
  }

  .camera-circle:hover {
    background-color: $blue-medium;
    transition: 0.6s;
  }
}

.puzzle-modal {
  overflow: hidden;

  @include respond-to('phone', 'tablet') {
    margin-top: 10em;
  }

  .image-modal {
    height: 80vh;
    width: auto;

    @include respond-to('phone', 'tablet') {
      width: 90vw;
      height: auto;
    }
  }

  .gambar-modal {
    // position: absolute;
    // z-index: 0;
    // height: 300px;

    // Kiri
    .kembang-api1 {
      // @extend .gambar-modal; extend ga work
      position: absolute;
      height: 300px;
      top: -50px;
      left: -300px;
      @include respond-to("phone") {
        display: none;
      }
    }

    .kembang-api2 {
      // @extend.gambar-modal;
      position: absolute;
      height: 200px;
      top: 300px;
      left: -400px;
      @include respond-to("phone") {
        display: none;
      }
    }

    .kembang-api3 {
      // @extend.gambar-modal;
      position: absolute;
      height: 300px;
      bottom: 0px;
      left: -400px;
      @include respond-to("phone") {
        display: none;
      }
    }

    // kNan
    .kembang-api4 {
      // @extend.gambar-modal;
      position: absolute;
      height: 200px;
      top: 50px;
      right: -250px;
      @include respond-to("phone") {
        display: none;
      }
    }

    .kembang-api5 {
      // @extend.gambar-modal;
      position: absolute;
      height: 300px;
      top: 300px;
      right: -400px;
      @include respond-to("phone") {
        display: none;
      }
    }

    .kembang-api6 {
      // @extend.gambar-modal;
      position: absolute;
      height: 300px;
      bottom: 0px;
      left: 550px;
      @include respond-to("phone") {
        display: none;
      }
    }
  }
}