@import '../../App.scss';

.page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  @include respond-to('phone', 'tablet') {
    flex-direction: column;
    justify-content: start;
  }

  .congrats {
    position: relative;

    .info-icon {
      position: absolute;
      top: -300%;
      left: 0%;
    }
  }

  .stage1 {

    .stage1-image {
      width: 500px;
      height: auto;
    }

    @include respond-to('phone') {
      .stage1-image {
        margin-top: 1rem;
        width: 300px;
      }
    }

    @include respond-to('tablet') {

      .stage1-image {
        margin-top: 1rem;
        width: 400px;
      }
    }
  }

  .take-picture {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include respond-to('tablet', 'phone') {
      gap: 2rem;
    }

    .tombol-keluar {
      text-decoration: none;
      color: inherit;
      background-color: $blue-darker;
      padding: 0.5rem;
      border-radius: 10px;

      .fa-door-open {
        display: none;
      }
    }

    .tombol-keluar:hover {
      background-color: $blue-medium;
      transition: 0.6s;

      .fa-door-closed {
        display: none;
      }
      .fa-door-open {
        display: initial;
      }
    }

    .cam-icon {
      text-align: center;
    }

    @include respond-to('phone') {
      .door-icon {
        position: absolute;
        bottom: -50%;
      }

      h2 {
        margin-top: 1.5rem;
      }
    }

    @include respond-to('tablet') {
      .door-icon {
        position: absolute;
        bottom: -50%;
      }

      h2 {
        margin-top: 1.5rem;
      }
    }
  }
  
  .camera-circle {
    background-color: $blue-darker;
    padding: 0.9rem 1rem;
    border-radius: 50%;
    transition: 0.6s;
  }

  .camera-circle:hover {
    background-color: $blue-medium;
    transition: 0.6s;
  }
}
