@font-face {
  font-family: "Vollkorn";
  font-style: swap;
  src: url("https://wisjul21.sgp1.cdn.digitaloceanspaces.com/assets/fonts/Vollkorn-Regular.otf") format("opentype")
}

@font-face {
  font-family: "Aller";
  font-style: swap;
  src: url("https://wisjul21.sgp1.cdn.digitaloceanspaces.com/assets/fonts/Aller_Std_Bd.ttf") format("truetype")
}
