@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

.carousel-container {
  margin-top: 1vh;

  .carousel {
    margin-top: 2vh;
    background-color: rgba($purple-medium, 0);
    display: flex;
    width: 35vw;  
    height: auto;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 100%;

      video {
        width: 100%;
      }

      audio {
        width: 100%;
      }
    }
  }
}

@include respond-to('phone') {
  .carousel-container {
    .carousel {
      width: 40vw;
    }
  }
}