@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

.carousel {
  background-color: $purple-medium;
  display: flex;
  width: 40vw;  
  height: auto;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;

    video {
      width: 100%;
    }

    audio {
      width: 100%;
    }
  }
}

@include respond-to('phone') {
// @media only screen and (max-width: 780px) {
  .carousel {
    width: 40vw;
  }
}