@import "../../App.scss";

.puzzle-page {
  padding: 1rem;

  .title {
    text-align: center;
    padding: 1em 0;
  }

  .puzzle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    gap: 2rem;
    @include respond-to('phone') {
      gap: 3vw;
    }

    padding-bottom: 3em;

    .puzzle-wrapper-1 {
      display: flex;
    }

    .puzzle-board-wrapper {
      display: grid;
      background-color: #fff;
    }

    .puzzle-piece-container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .arrow-up,
      .arrow-down {
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }

      .arrow-up:hover {
        transform: translateY(-3px);
        filter: drop-shadow(0 5px 10px $red-lighter);
      }

      .arrow-down:hover {
        transform: translateY(3px);
        filter: drop-shadow(0 -5px 10px $red-lighter);
      }

      .arrow-up-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        .arrow-up {
          width: 0;
          height: 0;

          border-left: 40px solid transparent;
          border-right: 40px solid transparent;

          border-bottom: 30px solid $orange-lighter;
        }
      }

      .arrow-down-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        .arrow-down {
          width: 0;
          height: 0;

          border-left: 40px solid transparent;
          border-right: 40px solid transparent;

          border-top: 30px solid $orange-lighter;
        }
      }

      #board-2 {
        
        .board-2-container {
          background-color: $red-darker;
          padding: 1rem;
          padding-left: 1.5rem;
          border-radius: 10px 0px 0px 10px;
          
          min-width: max-content;
          display: grid;
          grid-template-columns: auto auto;
          justify-content: center;
          gap: 15px;
          align-items: center;

          position: relative;
          height: 30vw;
          overflow-y: scroll;

          scroll-behavior: smooth;

          &::-webkit-scrollbar-track-piece {
            &:start {
              margin-top: 17px;
            }
            &:end {
              margin-bottom: 17px;
            }
          }
        
        }

        .arrow-up,
        .arrow-down {
          background: $red-darker;
        }
      }
    }

    .puzzle-board {

      .puzzle-piece {
        cursor: grab;
        padding: 0;
        background-color: gray;
        margin: 0;
      }
    }
  }
}