@import '../../styles/colorpalette.scss';

.pesan-anonim {
  background-color: $blue-darker;
  margin: 2em;
  border-radius: 30px;

  .pesan-anonim-wrapper {
    padding: 15px;

    .pesan-kosong {
      margin: auto;
      text-align: center;
    }
  }

  .kirim-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 15px;
    padding: 20px 0;
    padding-bottom: 35px;

    .kirim-button {
      width: 15em;
      height: 2.5em;
      background-color: #686363;
    }
  }
}