@import '../../App.scss';

.minigame-page {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
}

.stages {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  @include respond-to('phone') {
    flex-direction: column;
  }
}