$marginLR: 20vw;
$maincolour: rgb(4, 4, 37);
$accentcolour1: rgb(218, 167, 0);
$borderradius: 3px;
$bg: 'https://cdn.statically.io/img/wallpaperplay.com/walls/full/3/0/7/17345.jpg';

@mixin cloud($duration) {
  position: absolute;
  top: 0;
  animation-name: wind;
  animation-iteration-count: infinite;
  animation-duration: $duration;
}

* {
  align-items: center;
  text-align: center;
}

button {
  border: none;
  border-radius: $borderradius;
  &:hover {
    cursor: pointer;
  }
}

.layers {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 34.5vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes wind {
  0% {left: 0%; z-index: 1;}
  98% {left: 100%; z-index: 1;}
  99% {left: 100%; z-index: -1;}
  100% {left: 0%; z-index: -1;}
}

.layer-1 {
  @include cloud(60s)
}

.layer-2 {
  @include cloud(100s)
}

.home-container {
  background: url($bg);
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .logo {
    height: 300px;
    width: 300px;
  }
  .youtube {
    height: 50px;
    width: 20vw;
    color: $accentcolour1;
    background-color: transparent;
    outline: $accentcolour1 solid 3px;
    z-index: 100;
    &:hover {
      color: $maincolour;
      background-color: $accentcolour1;
      transition: 0.3s;
    }
  }
}

.visi-misi {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: $marginLR;
  margin-right: $marginLR;
  h1 {
    font-weight: normal;
  }
  .visi {
    grid-column: 2 / span 3;
    grid-row: 1;
    background-color: $accentcolour1;
  }
  .misi {
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: $accentcolour1;
  }
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
}

.event-btn {
  height: 500px;
  width: 300px;
  margin: 50px;
  text-align: center;
  transition: 0.3s;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/020/747/129/large/ross-tran-grandpa-web.jpg?1569002367');
  &:hover {
    transform: translateY(-10px);
    transition: 0.3s;
  }
}