@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

.galeri-apresiasi-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .apresiasi-wisudawan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include respond-to('phone') {
  .galeri-apresiasi-page {
    .himpunan {
      h1 {
        font-size: 6vw;
        margin-bottom: 3vh;
      }

      img {
        max-width: 40vw;
      }
    }

    .apresiasi-wisudawan {
      h2 {
        font-size: 5vw;
      }
    }
  }
}