@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

.galeri-apresiasi-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .apresiasi-wisudawan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include respond-to('phone') {
  .galeri-apresiasi-page {
    .himpunan {
      h1 {
        margin-bottom: 3vh;
      }

      img {
        max-width: 40vw;
      }
    }
  }
}

.himpunan-logo {
  margin-top: 1rem;
  // max-width: 300px;
  height: 300px;
}