@import "../../App.scss";

.CS {
  text-align: center;
}

.CS-logo {
  width: auto;
  height: 40vh;
  pointer-events: none;
  background-color: transparent;
}

.CS-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CS-links {
  background-color: transparent;
}

.CS-link {
  background-color: transparent;
  color: $yellow-lighter;
}
