.wisudawan-filter {
  form {
    input[type='text'] {
      margin: 1rem;
      font-size: 1.2rem;
      width: 40rem;
    }
  }

  .list-wisudawan {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

@media only screen and (max-width: 780px) {
  .wisudawan-filter {
    form {
      input[type='text'] {
        width: 60vw;
        font-size: 2.4vw;
      }
    }
  }
}