@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

.card-container {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  width: 25vw;
  height: auto;
  padding: 1vh 1vw;
  border-radius: 1rem;
  background-color: rgba($blue-darker, 80%);
  transition: transform 0.5s;

  @include respond-to('phone') {
    width: 40vw;
    margin: 0 2vw;
    margin-bottom: 2rem;
    height: auto;
    border-radius: 2vw;
  }

  &:hover {
    transform: translateY(-2%);
    cursor: pointer;
    background-color: rgba($blue-medium, 80%);
    box-shadow: 0px 2px 17px rgba($yellow-darker, 80%);
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vh;
    margin-bottom: 0;
    font-size: 2vw;
    height: 10vh;

    @include respond-to('phone') {
      height: 5vh;
      margin-top: 1vh;
      font-size: 4vw;
    }
  }

  h4 {
    margin-top: 0.1rem;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
    z-index: 1;

    @include respond-to('phone') {
      font-size: 2.5vw;
    }
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0.7rem;
    position: relative;
    height: 15vw;
    width: 15vw;

    @include respond-to('phone') {
      margin: 1rem;
      margin-top: 1.5vh;
      height: 25vw;
      width: 25vw;
    }

    .foto-wisudawan {
      height: 100%;
      width: 100%;
      left: 20%;
      background-color: #C4C4C4;
      position: relative;
      object-fit: cover;
      border-radius: 50%;

      @include respond-to('phone') {
        left: 12%;
      }
    }

    .awan-bg {
      position: absolute;
      width: 18vw;
      bottom: -1rem;
      left: -1rem;

      @include respond-to('phone') {
        width: 30vw;
        bottom: -0.5rem;
      }
    }
  }

  p {
    margin: 0.5vw 0;
    margin-bottom: 1vw;
    font-size: 1.3vw;
    padding: 0 2vw;

    @include respond-to('phone') {
      font-size: 2vw;
      margin: 2vh 0;
      margin-top: 0;
      padding: 0 1vw;
    }
  }

  .judulTA {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $yellow-darker;
    height: 10vh;

    @include respond-to('phone') {
      height: 5vh;
      margin-bottom: 2rem;
    }
  }
}