@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

.wisudawan-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2vw;
  box-sizing: border-box;
  width: 100vw;
}

// @include respond-to('tablet') {
// // @media only screen and (max-width: 1080px) {
//   .wisudawan-card-container {
//     margin: 0 1vw;
//     width: 45rem;
//   }
// }

@include respond-to('phone') {
// @media only screen and (max-width: 780px) {
  .wisudawan-card-container {
    margin: 1vh 0.3vw;
  }
}