@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

.wisudawan-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 9vw;
  box-sizing: border-box;
  width: 100vw;
}

@include respond-to('phone') {
  .wisudawan-card-container {
    margin: 1vh 0.3vw;
  }
}