@import '../../styles/colorpalette.scss';
@import '../../styles/responsive.scss';

.button {
  border: none;
  outline: none;
  background-color: $red-darker;
  cursor: pointer;
  padding: 1.5% 3.5%;
  margin: 0.75em;
  border-radius: 20px;
  color: $yellow-lighter;
  display: inline-block;
  box-shadow: 0 2px 5px black;

  h4 {
    color: $yellow-lighter;
  }

  & > * {
    margin: 0;
    padding: 0;
  }

  &.active {
    background-color: $red-medium;
    color: $yellow-lighter;
  }

  &:hover {
    background-color: $red-medium;
    color: $yellow-lighter;
  }
}
