@import '../../styles/colorpalette.scss';
@import '../../styles/responsive.scss';

.card-hmj-container {
  position: relative;

  .spark-card {
    position: absolute;
    top: -10%;
    right: -1.5%;
    width: 5%;
    height: auto;
    transform: rotate(-70deg);
  }

  .card-hmj {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 8px black;
    border-radius: 30px;
    background: rgba($blue-darker, 0.8);
    // ini pake rgba supaya bisa opacity tanpa ngaruh ke child
    width: auto;

    @media only screen and (max-width: 480px) {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    .image-hmj {
      background-color: #ffffff;
      border: 1px solid #e5e5e5;
      border-radius: 25px;
      padding: 0.5rem;
      align-self: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .info-hmj {
      width: 85%;
      text-align: start;
      margin: 0.25rem 1rem 1rem 2.5rem;
      position: relative;

      h2 {
        position: absolute;
        top: 0;
        text-align: start;
        overflow-wrap: break-word;
        margin-bottom: 7.5rem;
      }

      .link-hmj {
        width: 85%;
        text-align: start;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        position: absolute;
        bottom: 0;
        padding: 0.5em;
        background-color: rgba($red-medium, 0.8);
        // ini pake rgba supaya bisa opacity tanpa ngaruh ke child
        box-shadow: 0 2px 5px black;

        a {
          text-decoration: none;
          color: $yellow-lighter;
          overflow-wrap: break-word;
        }
      }
    }

    @include respond-to('phone') {
      .info-hmj {
        width: 85%;
        text-align: start;
        margin: 0.5rem 1rem 0.5rem 1.5rem;

        h2 {
          text-align: start;
          overflow-wrap: break-word;
          margin-bottom: 4rem;
          position: static;
        }
      }
    }

    @media only screen and (max-width: 480px) {
      .info-hmj {
        width: 95%;
        text-align: start;
        margin: 0.5rem 0rem 0.5rem 1rem;

        h2 {
          text-align: start;
          overflow-wrap: break-word;
          margin-bottom: 4rem;
          font-size: 18px;
          position: static;
        }
      }
    }
  }
}
