@import '../../App.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colorpalette.scss';
@import '../../styles/responsive.scss';

.info {
  background-color: grey;
  text-align: center;

  h1 {
    @include gradient-header-1;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5em;
  }
}

.list-button {
  margin: 3em 3em 3em 3em;

  .button {
    border: none;
    outline: none;
    background-color: grey;
    cursor: pointer;
    padding: 1.5% 3.5%;
    margin: 0.75em;
    border-radius: 20px;

    & > * {
      margin: 0;
      padding: 0;
    }

    &.active {
      background-color: $red-medium;
      color: $yellow-lighter;
    }

    &:hover {
      background-color: $red-medium;
      color: $yellow-lighter;
    }
  }
}

.list-hmj {
  margin: 0em 1vw 0em 1vw;
  padding: 0;

  li {
    list-style: none;
  }
}

.card-hmj {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: $blue-darker;
  width: auto;

  .image-hmj {
    background-color: white;
    border-radius: 25px;
    padding: .5rem;
    align-self: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .info-hmj {
    width: 75%;
    text-align: start;
    margin: 1rem 1rem 1rem 2.5rem;

    h2 {
      @include gradient-header-1;
      text-align: start;
      word-break: break-word;
      margin-bottom: 1.5rem;
    }

    .link-hmj {
      text-align: start;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      margin: 0;
      padding: 0.5em;
      background-color: $red-medium;

      a {
        text-decoration: none;
        color: $yellow-lighter;
      }
    }
  }
}