@import '../../styles/colorpalette.scss';
@import '../../styles/fonts.scss';

.galeri-hmj {
  height: 100%;
  background: url('https://wisjul21.sgp1.cdn.digitaloceanspaces.com/assets/images/background/main.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  .galeri-hmj-title {
    display: flex;
    justify-content: center;
    .title {
      font-size: 3.5rem;
      margin: 1em;
    }
  }

  .fakultas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    button {
      background-color: $red-darker;
      height: 3em;
      width: 5em;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1em;
      font-size: 24px;
      transition: .3s ease-in-out;
      p {
        margin: 0;
        padding: 0;
      }

      &:hover {
        background-color: $red-medium;
      }

      &.active {
        background-color: $red-lighter;
      }
    }
  }

  .himpunan-container {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap;
    padding: 1em 0 3em 0;
    .himpunan-card {
      height: 30em;
      width: 20em;
      background-color: $blue-darker;
      border-radius: 40px;
      .himpunan-wrapper {
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .image {
          height: 250px;
          width: 260px;
          margin: 20px 0;
          background-color: grey;
        }

        .himpunan-text {
          display: flex;
          justify-content: center;
          .title {
            text-align: center;
          }
        }
      }
    }
  }
}
