
table {
  padding: 2px;
  position: relative;
  width: 100%;
  border-collapse: seperate;
  border-spacing: 0 8px;
}

.rundown {
  height: 50px;
  width: 599px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background-color: rgba(47, 60, 79, 0.3);

  .jam {
    padding-left: 35px;
    height: 50px;
    width: 150px;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    text-shadow: 1px 1px 0px $black;
    color: #fdfddf;
  }

  .keterangan {
    padding-left: 20px;
    text-shadow: 1px 1px 0px $black;
    text-align: left;
  }

  .line {
    border-left: 1px solid $yellow;
    height: 50px;
  }

  &-past-event {
    .jam,
    .keterangan {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
  &-coming-soon {
    background: $darkBlue;
    .jam,
    .keterangan {
      color: $yellow;
      font-weight: bold;
    }
  }
  &-main-event {
    outline: 2px solid $blueTransparent;
  }
}

.rundown:first-child {
  td:first-child {
    border-top-left-radius: 25px;
  }
  td:last-child {
    border-top-right-radius: 25px;
  }
}

.rundown:last-child {
  td:first-child {
    border-bottom-left-radius: 25px;
  }
  td:last-child {
    border-bottom-right-radius: 25px;
  }
}

//table tr:hover td {
//    border-radius: 3px;
//    background-color: rgba(21, 51, 59, 0.644) !important;
//  }

@media only screen and (max-width: $breakpoint) {
  .ukurantabel {
    position: relative;
    width: 300px;
  }
  .rundown {
    width: 400px;

    .jam {
      width: 120px;
      padding-left: 15px;
    }
    .keterangan {
      padding: 10px 15px;
    }
    .line {
      width: 1%;
      border-left: 1px solid $yellow;
    }
  }
}
