@use 'sass:math';

@import '../../styles/responsive.scss';
@import '../../styles/colorpalette.scss';

$form-width: 50vw;

.form {
  color: #f4f4f4;
  border: 2px solid black;
  border-radius: 15px;
  padding: 50px 50px 0px 50px;
  background-color: #00000085;
  overflow-x: hidden;
  width: $form-width;
  margin-left: math.div((100vw - $form-width), 2);

  * {
    background-color: transparent;
    text-align: left;
    font-size: 16px;
    @include respond-to('phone') {
      font-size: 12px;
    }
  }

  @include respond-to('phone') {
    width: 100vw;
    overflow-x: hidden;
    padding: 10px 1px;
    width: $form-width * 1.7;
    margin-left: math.div((100vw - ($form-width * 1.7)), 2);
  }
}

.form-page {
  background-image: url("https://wisjul21.sgp1.cdn.digitaloceanspaces.com/assets/images/main.jpg");
  background-repeat: repeat;
  background-color: #adadad5b;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;

  @include respond-to('phone') {
    font-size: 12px;
  }
}

.form-btn {
  visibility: visible;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: #f4f4f4;
  background-color: $cyan-medium;
  text-align: center;
  &:hover {
    background-color: #4aa96c;
    color: #ffffff;
  }

  @include respond-to('phone') {
    margin-right: 10vw;
  }
}

.form-container {
  max-width: 50%;
  background-color: transparent;

  @include respond-to('phone') {
    max-width: 100%;
    width: 25em;
  }
}

.form-content {
  margin: 10px 50px;
  background-color: transparent;
}

.form-error {
  color: $red-medium;
}

.form-input {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

.form-textarea {
  margin-top: 5px;
  border-radius: 15px;
  height: 5em;
}

.form-select {
  padding: 5px;
  margin: 5px;
  font-size: 16px !important;

  @include respond-to('phone') {
    font-size: 12px !important;
  }
}

.form-field {
  background-color: white;
  color: black;
  margin-bottom: 1.25em;
}

.form-status {
  background-color: $blue-medium;
  color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 15px;
  visibility: hidden;
  text-align: center;
}

.form-select-option {
  color: black;
}

.form-title {
  text-align: center;
  color: #FC690A;
  font-size: 48px;

  @include respond-to('phone') {
    font-size: 32px;
  }
}

.form-nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.form-warn {
  color: $yellow-darker;
}

.form-select-name {
  color: gray;
  background-color: white;
}