@import '../../App.scss';
@import '../../styles/fonts.scss';
@import '../../styles/colorpalette.scss';
@import '../../styles/responsive.scss';

.button {
  border: none;
  outline: none;
  background-color: grey;
  cursor: pointer;
  padding: 1.5% 3.5%;
  margin: 0.75em;
  border-radius: 20px;

  & > * {
    margin: 0;
    padding: 0;
  }

  &.active {
    background-color: $red-medium;
    color: $yellow-lighter;
  }

  &:hover {
    background-color: $red-medium;
    color: $yellow-lighter;
  }
}
