@import '../../styles/colorpalette.scss';
@import '../../styles/responsive.scss';

.card-hmj-container {
  position: relative;

  .spark-card {
    position: absolute;
    bottom: 30%;
    right: -6%;
    width: 15%;
    height: auto;
    transform: rotate(-70deg);
  }

  .card-hmj {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 8px black;
    border-radius: 30px;
    background-color: $blue-darker;
    width: auto;

    .image-hmj {
      background-color: white;
      border-radius: 25px;
      padding: 0.5rem;
      align-self: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .info-hmj {
      width: 85%;
      text-align: start;
      margin: 1rem 1rem 1rem 2.5rem;

      h2 {
        text-align: start;
        word-break: break-word;
        margin-bottom: 2.5rem;
      }

      .link-hmj {
        text-align: start;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        margin: 0;
        padding: 0.5em;
        background-color: $red-medium;
        box-shadow: 0 2px 5px black;

        a {
          text-decoration: none;
          color: $yellow-lighter;
        }
      }
    }

    @media only screen and (max-width: 480px) {
      .info-hmj {
        width: 75%;
        text-align: start;
        margin: 0.5rem 0.5rem 0.5rem 2.5rem;

        h2 {
          text-align: start;
          word-break: break-word;
          margin-bottom: 1.5rem;
        }
      }
    }

    @include respond-to('phone') {
      .info-hmj {
        width: 75%;
        text-align: start;
        margin: 1rem 1rem 1rem 1.5rem;

        h2 {
          text-align: start;
          word-break: break-word;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
