@use 'sass:math';
@import '../../App.scss';

$marginLR: 20vw;
$borderradius: 3px;

.navbar .main {
  background-color: rgba($color: $blue-darker, $alpha: 1.0);
}

.homepage {
  background-image: url('../../images/bg/Filter.png'), radial-gradient(#532F65, #201125, #201125);
  background-blend-mode: overlay;
  margin-top: -$navbarheight;
  overflow-x: hidden;
  
  .event-buttons {
    margin: 5vw;
    z-index: 100;
  }
  
  @mixin event-btn() {
    height: 400px;
    width: 300px;
    margin: 50px;
    grid-row: 1;
    text-align: center;
    transition: 0.3s;
    background-position: center;
    background-size: 300px auto;
    background-color: transparent;
    z-index: 10;
    padding-top: 100%;
    &:hover {
      filter: drop-shadow(10px 10px 7px $purple-darker);
      transform: translateY(-10px);
      transition: 0.3s;
    }
  }
  
  button {
    border: none;
    border-radius: $borderradius;
    &:hover {
      cursor: pointer;
    }
  }
  
  .upper-home {
    position: relative;
  }
  
  .bg-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    top: -$navbarheight;
    left: 0px;
    height: calc(100vh + 4.4rem);
    width: 100%;
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
    .bg {
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: repeat-x;
    }
    .volcano {
      position: absolute;
      justify-self: center;
      bottom: -20vh;
      height: 160vh;
      z-index: 11;
    }
    .smoke {
      position: absolute;
      justify-self: center;
      height: 125vh;
      z-index: 11;
    }
    .volcanoes {
      justify-self: center;
      position: absolute;
      bottom: 0px;
      min-width: 100vw;
      height: 125vh;
    }
  }
  
  .cloud-wrapper {
    position: absolute;
    top: 80vh;
    height: 120%;
    width: 100%;
    overflow-x: hidden;
  }
  
  .cloud-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    justify-content: start;
    overflow-x: hidden;
  }
  
  
  @keyframes wind {
    from {
      margin-left: calc(-290px - 60vw);
    }
    to {
      transform: translateX(200vw);
    }
  }
  
  .cloud {
    position: absolute;
    animation-name: wind;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    filter: drop-shadow(10px 10px 10px #201125);
  }
  
  .cloud:nth-of-type(1) {
    width: #{random(250)/100+20}vw;
    top: percentage((random(70) + 10) / 100);
    animation-duration: (random(60)+60) + s;
    animation-delay: 0s;
    opacity: (random(30)+50)/100;
    z-index: random($limit: 15);
  }
  
  @for $i from 2 through 7 {
    .cloud:nth-of-type(#{$i}) {
      width: #{random(250)/100+20}vw;
      top: percentage((random(70) + 10) / 100);
      animation-duration: #{random(60)+60}s;
      animation-delay: #{random(20)+($i - 2)*80}s;
      opacity: (random(30)+50)/100;
      z-index: random($limit: 15);
    }
  }
  
  .tagline-container {
    position: absolute;
    top: 4.4rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    z-index: 15;
    h1,h3 {
      font-size: 3.5vw;
    }
    h3 {
      position: relative;
      top: 20px;
      left: 20px;
      color: $red-darker;
    }
    .tagline1, .tagline1-shadow {
      margin-right: 60%;
      margin-bottom: 80px;
    }
    .tagline2, .tagline2-shadow {
      margin-left: 60%;
      margin-bottom: 200px;
    }
    @include respond-to('tablet','phone') {
      width: 0;
      visibility: hidden;
    }
  }
  
  .home-container {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .logotagline {
      z-index: 15;
      text-align: center;
      //display: flex;
      .logo {
        position: relative;
        margin-bottom: 10vh;
        height: 35vh;
        width: 35vh;
        z-index: 100;
        filter: drop-shadow(5px 5px 4px #590A07);
      }
      .tagline {
        padding: 20px;
        transform: translateY(-10vh);
        color: $red-darker;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70vw 100%;
        visibility: hidden;
        @include respond-to('tablet','phone') {
          visibility: visible;
        }
      }
    }
    .youtube {
      margin: 50px;
      height: 125px;
      width: 150px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-color: transparent;
      background-image: url('../../icons/YoutubeIcon.png');
      filter: drop-shadow(10px 10px 10px #201125);
      z-index: 15;
      @include respond-to('phone') {
        margin: 20px 50% 15vh 50%;
        height: 50px;
        width: 50px;
      }
      &:hover {
        filter: drop-shadow(-10px -10px 10px #201125);
        transition: 0.2s;
      }
    }
  }
  
  .main-container {
    margin-top: 15vh;
    width: 100%;
    overflow-x: hidden;
  }

  .assets-container {
    overflow-x: hidden;
  }
  
  .cloud-main1 {
    position: absolute;
    top: 105vh;
    left: -10vw;
    width: 35vw;
  }

  .cloud-main2 {
    position: absolute;
    top: 130vh;
    left: 50vw;
    width: 40vw;
    @include respond-to('phone') {
      top: 200vh;
    }
  }

  .cloud-main3 {
    position: absolute;
    top: 225vh;
    left: 3vw;
    width: 30vw;
    @include respond-to('phone') {
      width: 40vw;
      top: 300vh;
    }
  }

  .feather1 {
    position: absolute;
    top: 160vh;
    left: 8vw;
    width: 10vw;
    overflow-x: hidden;
    @include respond-to('phone') {
      top: 250vh;
    }
  }

  .feather2 {
    position: absolute;
    top: 200vh;
    left: 80vw;
    width: 10vw;
    transform: rotate(190deg);
    overflow-x: hidden;
    @include respond-to('phone') {
      top: 300vh;
    }
  }
  
  .visi-misi {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    margin: 50px $marginLR;
    align-items: center;
    z-index: 10;
    h1 {
      font-size: 5vw;
    }
    li {
      text-align: left;
    }
    .VISI {
      grid-column: 1;
      grid-row: 1;
      position: relative;
      top: -15px;
      text-align: left;
      z-index: 11;
    }
    .visi {
      text-align: center;
      padding: 30px;
      grid-column: 2 / span 3;
      grid-row: 1;
      background-color: $red-darker;
      z-index: 10;
      padding-top: 50px;
      padding-bottom: 50px;
      border-radius: 10px;
      box-shadow: 20px 20px 2px $orange-darker;
    }
    .MISI {
      grid-column: 4;
      grid-row: 2;
      position: relative;
      top: -15px;
      text-align: right;
      z-index: 11;
    }
    .misi {
      padding: 30px;
      grid-column: 1 / span 3;
      grid-row: 2;
      background-color: $red-darker;
      text-align: left;
      z-index: 10;
      border-radius: 10px;
      box-shadow: 20px 20px 2px $orange-darker;
    }
    @media screen and (max-width: 1080px) {
      margin: 50px 10vw;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px auto 50px auto;
      h1 {
        font-size: 50px;
      }
      .VISI {
        grid-column: 1;
        grid-row: 1;
        position: relative;
        top: 45%;
        left: 10px;
      }
      .visi {
        grid-column: 1;
        grid-row: 2;
      }
      .MISI {
        grid-column: 1;
        grid-row: 3;
        position: relative;
        top: 45%;
        right: 10px;
      }
      .misi {
        grid-column: 1;
        grid-row: 4;
      }
    }
  }

  .btn-title {
    z-index: 100;
  }
  
  .btns {
    display: grid;
    justify-content: center;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 10;
    @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }
  
  .button1 {
    @include event-btn();
    transform: grid-column(1);
    transition: 0.5s;
  }
  
  .button2 {
    @include event-btn();
    grid-column: 2;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  
  .button3 {
    @include event-btn();
    grid-column: 3;
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }
  
  .button1, 
  .button2, 
  .button3 {
    @media screen and (max-width: 1300px) {
      margin: 50px 30px;
    }
    @media screen and (max-width: 430px) {
      width: 50vw;
      height: 60vw;
      background-size: 50vw auto;
      margin-top: 0;
    }
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    grid-row: 1;
    background-color: transparent;
    align-self: center;
    visibility: hidden;
    @media screen and (max-width: 1300px) {
      visibility: visible;
    }
  }
}