$marginLR: 20vw;
$maincolour: rgb(4, 4, 37);
$accentcolour1: rgb(218, 167, 0);
$borderradius: 3px;
$randomNumber: random(5);


@mixin radial-gradient($from, $to) {
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-color: $from;
}

.main {
  background: radial-gradient(#532F65, #201125, #201125);
}

@mixin event-btn() {
  height: 500px;
  width: 300px;
  margin: 50px;
  grid-row: 1;
  text-align: center;
  transition: 0.3s;
  background-position: center;
  &:hover {
    transform: translateY(-10px);
    transition: 0.3s;
  }
}

button {
  border: none;
  border-radius: $borderradius;
  &:hover {
    cursor: pointer;
  }
}

.bg-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-repeat: repeat-x;
  background-size: auto 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: repeat-x;
}

@mixin cloud-container($topposition) {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: $topposition*145vh;
  height: 100%;
  width: 100%;
  //z-index: ;
  justify-content: start;
  overflow-x: hidden;
  overflow-y: visible;
}

.cloud-container1 {
  @include cloud-container(1)
}

.cloud-container2 {
  @include cloud-container(2)
}

@keyframes wind {
  from {
    margin-left: calc( - 60vw);
  }
  to {
    transform: translateX(550vw);
  }
}

.cloud {
  position: absolute;
  animation-name: wind;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.cloud:nth-of-type(1) {
  width: calc(#{random(10)}vw + #{random(90)+200}px);
  top: percentage((random(80) - 10) / 100);
  animation-duration: (random(120)+120) + s;
  animation-delay: 0s;
  opacity: (random(30)+50)/100;
}

@for $i from 2 through 14 {
  .cloud:nth-of-type(#{$i}) {
    width: calc(#{random(10)}vw + #{random(100)+200}px);
    top: percentage((random(80) - 10) / 100);
    animation-duration: #{random(120)+120}s;
    animation-delay: #{random(20)+($i - 2)*60}s;
    opacity: (random(30)+50)/100;
  }
}

.volcano {
  position: absolute;
  justify-self: center;
  bottom: 1px;
  width: 1920px;
}

.smoke {
  position: absolute;
  justify-self: center;
}

.volcanoes {
  position: absolute;
  bottom: 50px;
  width: 1920px;
}

.tagline {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  justify-content: center;
  .tagline1 {
    margin-right: 50%;
  }
  .tagline2 {
    margin-left: 50%;
  }
}

.home-container {
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .logotagline {
    z-index: 5;
    .logo {
      height: 300px;
      width: 300px;
      z-index: 100;
    }
    .tagline {
      background-color: rgba($color: #FFFFFF, $alpha: 0.2);
      margin-left: auto;
      margin-right: auto;
      width: 25%;
    }
  }
  .youtube {
    margin: 50px 50px;
    height: 50px;
    width: 20vw;
    color: $accentcolour1;
    background-color: transparent;
    outline: $accentcolour1 solid 3px;
    z-index: 10;
    @media screen and (max-width: 1080px) {
      width: 0,2*1080px;
    }
    &:hover {
      color: $maincolour;
      background-color: $accentcolour1;
      transition: 0.3s;
    }
  }
}

.visi-misi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: -70px $marginLR 50px $marginLR;
  align-items: center;
  h1 {
    font-size: 5vw;
  }
  p {
    color: $maincolour;
  }
  .VISI {
    position: relative;
    top: -15px;
    text-align: left;
  }
  .visi {
    padding: 30px;
    grid-column: 2 / span 3;
    grid-row: 1;
    background-color: $accentcolour1;
  }
  .MISI {
    position: relative;
    top: -15px;
    text-align: right;
  }
  .misi {
    padding: 30px;
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: $accentcolour1;
  }
  @media screen and (max-width: 1080px) {
    margin: 50px 10vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 50px auto;
    h1 {
      font-size: 50px;
    }
    .VISI {
      position: relative;
      top: 45%;
      left: 10px;
    }
    .visi {
      grid-column: 1;
      grid-row: 2;
    }
    .MISI {
      position: relative;
      top: 45%;
      right: 10px;
    }
    .misi {
      grid-column: 1;
      grid-row: 4;
    }
  }
}

.btns {
  display: grid;
  justify-content: center;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 1300px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.button1 {
  @include event-btn();
  transform: grid-column(1);
  transition: 0.5s;
}

.button2 {
  @include event-btn();
  grid-column: 2;
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.button3 {
  @include event-btn();
  grid-column: 3;
  @media screen and (max-width: 1300px) {
    display: none;
  }
}

.button1, 
.button2, 
.button3 {
  @media screen and (max-width: 1300px) {
    margin: 50px 30px;
  }
  @media screen and (max-width: 430px) {
    width: 60vw;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.Arrow {
  grid-row: 1;
  visibility: hidden;
  @media screen and (max-width: 1300px) {
    visibility: visible;
  }
}
