@import "../../App.scss";

.sponsor {
    // background-color: rgba($color: $purple-lighter, $alpha: 0.1);
    background-image: linear-gradient(rgba($purple-lighter, 0.1), rgba($purple-darker, 0.1));
    box-shadow: 0 0 20px 30px rgba($purple-lighter, 0.1);
    border: none;
    margin-top: 4rem;
}

.sponsor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    img {
        // max-height: 20vh;
        // max-width: 20vh;
        margin: 0.7rem;
    }
    .item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .item-xl img {
        // width: 45vh;
        max-height: 40vh;
        max-width: 60vh;
        // min-width: 55vh;
        // border: 5px solid blue;
    }
    .item-l img {
        // width: 40vh;
        max-height: 32vh;
        max-width: 50vh;
        // min-width: 44vh;
        // border: 5px solid green;
    }
    .item-m img {
        // width: 30vh;
        max-height: 20vh;
        max-width: 40vh;
        // min-width: 22vh;
        // border: 5px solid yellow;
    }
    .item-s img {
        // width: 20vh;
        max-height: 15vh;
        max-width: 30vh;
        // min-width: 18vh;
        // border: 5px solid red;
    }
}

